@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .home-hero {
    background-image: url("/images/home-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-hero {
    background-image: url("/images/about-hero-mobile.jpg");
  }
  .career-hero {
    background-image: url("/images/careers-location-hero-mobile.jpg");
  }
}
